xml-resources/web-service-references/service/wsdl/wswhomo.afip.gov.ar/wsfev1/service.asmx.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ar.gov.afip.dif.FEV1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ar.gov.afip.dif.FEV1/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service orientado al servicio de Facturacion electronica RG2485 V1</wsdl:documentation>
<wsdl:types>
<s:schema targetNamespace="http://ar.gov.afip.dif.FEV1/" elementFormDefault="qualified">
<s:element name="FECAESolicitar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="FeCAEReq" type="tns:FECAERequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FEAuthRequest">
<s:sequence>
<s:element name="Token" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Sign" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Cuit" type="s:long" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAERequest">
<s:sequence>
<s:element name="FeCabReq" type="tns:FECAECabRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="FeDetReq" type="tns:ArrayOfFECAEDetRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAECabRequest">
<s:complexContent mixed="false">
<s:extension base="tns:FECabRequest"/>
</s:complexContent>
</s:complexType>
<s:complexType name="FECabRequest">
<s:sequence>
<s:element name="CantReg" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfFECAEDetRequest">
<s:sequence>
<s:element name="FECAEDetRequest" type="tns:FECAEDetRequest" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEDetRequest">
<s:complexContent mixed="false">
<s:extension base="tns:FEDetRequest"/>
</s:complexContent>
</s:complexType>
<s:complexType name="FEDetRequest">
<s:sequence>
<s:element name="Concepto" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="DocTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="DocNro" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteDesde" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteHasta" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteFch" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="ImpTotal" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="ImpTotConc" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="ImpNeto" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="ImpOpEx" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="ImpTrib" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="ImpIVA" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="FchServDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchServHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchVtoPago" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MonId" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MonCotiz" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="CbtesAsoc" type="tns:ArrayOfCbteAsoc" maxOccurs="1" minOccurs="0"/>
<s:element name="Tributos" type="tns:ArrayOfTributo" maxOccurs="1" minOccurs="0"/>
<s:element name="Iva" type="tns:ArrayOfAlicIva" maxOccurs="1" minOccurs="0"/>
<s:element name="Opcionales" type="tns:ArrayOfOpcional" maxOccurs="1" minOccurs="0"/>
<s:element name="Compradores" type="tns:ArrayOfComprador" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfCbteAsoc">
<s:sequence>
<s:element name="CbteAsoc" type="tns:CbteAsoc" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="CbteAsoc">
<s:sequence>
<s:element name="Tipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Nro" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="Cuit" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfTributo">
<s:sequence>
<s:element name="Tributo" type="tns:Tributo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Tributo">
<s:sequence>
<s:element name="Id" type="s:short" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="BaseImp" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="Alic" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="Importe" type="s:double" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfAlicIva">
<s:sequence>
<s:element name="AlicIva" type="tns:AlicIva" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="AlicIva">
<s:sequence>
<s:element name="Id" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="BaseImp" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="Importe" type="s:double" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfOpcional">
<s:sequence>
<s:element name="Opcional" type="tns:Opcional" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Opcional">
<s:sequence>
<s:element name="Id" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Valor" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfComprador">
<s:sequence>
<s:element name="Comprador" type="tns:Comprador" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Comprador">
<s:sequence>
<s:element name="DocTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="DocNro" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="Porcentaje" type="s:double" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:element name="FECAESolicitarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAESolicitarResult" type="tns:FECAEResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEResponse">
<s:sequence>
<s:element name="FeCabResp" type="tns:FECAECabResponse" maxOccurs="1" minOccurs="0"/>
<s:element name="FeDetResp" type="tns:ArrayOfFECAEDetResponse" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAECabResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FECabResponse"/>
</s:complexContent>
</s:complexType>
<s:complexType name="FECabResponse">
<s:sequence>
<s:element name="Cuit" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="FchProceso" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="CantReg" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Resultado" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Reproceso" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfFECAEDetResponse">
<s:sequence>
<s:element name="FECAEDetResponse" type="tns:FECAEDetResponse" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEDetResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FEDetResponse">
<s:sequence>
<s:element name="CAE" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="CAEFchVto" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="FEDetResponse">
<s:sequence>
<s:element name="Concepto" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="DocTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="DocNro" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteDesde" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteHasta" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteFch" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Resultado" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Observaciones" type="tns:ArrayOfObs" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfObs">
<s:sequence>
<s:element name="Obs" type="tns:Obs" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Obs">
<s:sequence>
<s:element name="Code" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Msg" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfEvt">
<s:sequence>
<s:element name="Evt" type="tns:Evt" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Evt">
<s:sequence>
<s:element name="Code" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Msg" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfErr">
<s:sequence>
<s:element name="Err" type="tns:Err" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Err">
<s:sequence>
<s:element name="Code" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Msg" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FECompTotXRequest">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECompTotXRequestResponse">
<s:complexType>
<s:sequence>
<s:element name="FECompTotXRequestResult" type="tns:FERegXReqResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FERegXReqResponse">
<s:sequence>
<s:element name="RegXReq" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEDummy">
<s:complexType/>
</s:element>
<s:element name="FEDummyResponse">
<s:complexType>
<s:sequence>
<s:element name="FEDummyResult" type="tns:DummyResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="DummyResponse">
<s:sequence>
<s:element name="AppServer" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="DbServer" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="AuthServer" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FECompUltimoAutorizado">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECompUltimoAutorizadoResponse">
<s:complexType>
<s:sequence>
<s:element name="FECompUltimoAutorizadoResult" type="tns:FERecuperaLastCbteResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FERecuperaLastCbteResponse">
<s:sequence>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteNro" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FECompConsultar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="FeCompConsReq" type="tns:FECompConsultaReq" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECompConsultaReq">
<s:sequence>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteNro" type="s:long" maxOccurs="1" minOccurs="1"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:element name="FECompConsultarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECompConsultarResult" type="tns:FECompConsultaResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECompConsultaResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:FECompConsResponse" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECompConsResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FECAEDetRequest">
<s:sequence>
<s:element name="Resultado" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="CodAutorizacion" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="EmisionTipo" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchVto" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchProceso" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Observaciones" type="tns:ArrayOfObs" maxOccurs="1" minOccurs="0"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CbteTipo" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="FECAEARegInformativo">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="FeCAEARegInfReq" type="tns:FECAEARequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEARequest">
<s:sequence>
<s:element name="FeCabReq" type="tns:FECAEACabRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="FeDetReq" type="tns:ArrayOfFECAEADetRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEACabRequest">
<s:complexContent mixed="false">
<s:extension base="tns:FECabRequest"/>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfFECAEADetRequest">
<s:sequence>
<s:element name="FECAEADetRequest" type="tns:FECAEADetRequest" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEADetRequest">
<s:complexContent mixed="false">
<s:extension base="tns:FEDetRequest">
<s:sequence>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="CbteFchHsGen" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="FECAEARegInformativoResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAEARegInformativoResult" type="tns:FECAEAResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEAResponse">
<s:sequence>
<s:element name="FeCabResp" type="tns:FECAEACabResponse" maxOccurs="1" minOccurs="0"/>
<s:element name="FeDetResp" type="tns:ArrayOfFECAEADetResponse" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEACabResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FECabResponse"/>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfFECAEADetResponse">
<s:sequence>
<s:element name="FECAEADetResponse" type="tns:FECAEADetResponse" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEADetResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FEDetResponse">
<s:sequence>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="FECAEASolicitar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="Periodo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Orden" type="s:short" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECAEASolicitarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAEASolicitarResult" type="tns:FECAEAGetResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEAGetResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:FECAEAGet" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEAGet">
<s:sequence>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Periodo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Orden" type="s:short" maxOccurs="1" minOccurs="1"/>
<s:element name="FchVigDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchVigHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchTopeInf" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchProceso" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Observaciones" type="tns:ArrayOfObs" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FECAEASinMovimientoConsultar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECAEASinMovimientoConsultarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAEASinMovimientoConsultarResult" type="tns:FECAEASinMovConsResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEASinMovConsResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfFECAEASinMov" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfFECAEASinMov">
<s:sequence>
<s:element name="FECAEASinMov" type="tns:FECAEASinMov" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="FECAEASinMov">
<s:sequence>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchProceso" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
<s:element name="FECAEASinMovimientoInformar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="PtoVta" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="CAEA" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECAEASinMovimientoInformarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAEASinMovimientoInformarResult" type="tns:FECAEASinMovResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECAEASinMovResponse">
<s:complexContent mixed="false">
<s:extension base="tns:FECAEASinMov">
<s:sequence>
<s:element name="Resultado" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="FECAEAConsultar">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="Periodo" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Orden" type="s:short" maxOccurs="1" minOccurs="1"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FECAEAConsultarResponse">
<s:complexType>
<s:sequence>
<s:element name="FECAEAConsultarResult" type="tns:FECAEAGetResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetCotizacion">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
<s:element name="MonId" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetCotizacionResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetCotizacionResult" type="tns:FECotizacionResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FECotizacionResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:Cotizacion" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="Cotizacion">
<s:sequence>
<s:element name="MonId" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MonCotiz" type="s:double" maxOccurs="1" minOccurs="1"/>
<s:element name="FchCotiz" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposTributos">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposTributosResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposTributosResult" type="tns:FETributoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FETributoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfTributoTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfTributoTipo">
<s:sequence>
<s:element name="TributoTipo" type="tns:TributoTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="TributoTipo">
<s:sequence>
<s:element name="Id" type="s:short" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposMonedas">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposMonedasResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposMonedasResult" type="tns:MonedaResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="MonedaResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfMoneda" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfMoneda">
<s:sequence>
<s:element name="Moneda" type="tns:Moneda" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="Moneda">
<s:sequence>
<s:element name="Id" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposIva">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposIvaResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposIvaResult" type="tns:IvaTipoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="IvaTipoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfIvaTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfIvaTipo">
<s:sequence>
<s:element name="IvaTipo" type="tns:IvaTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="IvaTipo">
<s:sequence>
<s:element name="Id" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposOpcional">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposOpcionalResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposOpcionalResult" type="tns:OpcionalTipoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="OpcionalTipoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfOpcionalTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfOpcionalTipo">
<s:sequence>
<s:element name="OpcionalTipo" type="tns:OpcionalTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="OpcionalTipo">
<s:sequence>
<s:element name="Id" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposConcepto">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposConceptoResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposConceptoResult" type="tns:ConceptoTipoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ConceptoTipoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfConceptoTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfConceptoTipo">
<s:sequence>
<s:element name="ConceptoTipo" type="tns:ConceptoTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="ConceptoTipo">
<s:sequence>
<s:element name="Id" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetPtosVenta">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetPtosVentaResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetPtosVentaResult" type="tns:FEPtoVentaResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FEPtoVentaResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfPtoVenta" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfPtoVenta">
<s:sequence>
<s:element name="PtoVenta" type="tns:PtoVenta" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="PtoVenta">
<s:sequence>
<s:element name="Nro" type="s:short" maxOccurs="1" minOccurs="1"/>
<s:element name="EmisionTipo" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Bloqueado" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchBaja" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposCbte">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposCbteResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposCbteResult" type="tns:CbteTipoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CbteTipoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfCbteTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfCbteTipo">
<s:sequence>
<s:element name="CbteTipo" type="tns:CbteTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="CbteTipo">
<s:sequence>
<s:element name="Id" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposDoc">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposDocResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposDocResult" type="tns:DocTipoResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="DocTipoResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfDocTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfDocTipo">
<s:sequence>
<s:element name="DocTipo" type="tns:DocTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="DocTipo">
<s:sequence>
<s:element name="Id" type="s:int" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchDesde" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="FchHasta" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="FEParamGetTiposPaises">
<s:complexType>
<s:sequence>
<s:element name="Auth" type="tns:FEAuthRequest" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FEParamGetTiposPaisesResponse">
<s:complexType>
<s:sequence>
<s:element name="FEParamGetTiposPaisesResult" type="tns:FEPaisResponse" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="FEPaisResponse">
<s:sequence>
<s:element name="ResultGet" type="tns:ArrayOfPaisTipo" maxOccurs="1" minOccurs="0"/>
<s:element name="Errors" type="tns:ArrayOfErr" maxOccurs="1" minOccurs="0"/>
<s:element name="Events" type="tns:ArrayOfEvt" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfPaisTipo">
<s:sequence>
<s:element name="PaisTipo" type="tns:PaisTipo" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="PaisTipo">
<s:sequence>
<s:element name="Id" type="s:short" maxOccurs="1" minOccurs="1"/>
<s:element name="Desc" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="FECAESolicitarSoapIn">
<wsdl:part name="parameters" element="tns:FECAESolicitar"/>
</wsdl:message>
<wsdl:message name="FECAESolicitarSoapOut">
<wsdl:part name="parameters" element="tns:FECAESolicitarResponse"/>
</wsdl:message>
<wsdl:message name="FECompTotXRequestSoapIn">
<wsdl:part name="parameters" element="tns:FECompTotXRequest"/>
</wsdl:message>
<wsdl:message name="FECompTotXRequestSoapOut">
<wsdl:part name="parameters" element="tns:FECompTotXRequestResponse"/>
</wsdl:message>
<wsdl:message name="FEDummySoapIn">
<wsdl:part name="parameters" element="tns:FEDummy"/>
</wsdl:message>
<wsdl:message name="FEDummySoapOut">
<wsdl:part name="parameters" element="tns:FEDummyResponse"/>
</wsdl:message>
<wsdl:message name="FECompUltimoAutorizadoSoapIn">
<wsdl:part name="parameters" element="tns:FECompUltimoAutorizado"/>
</wsdl:message>
<wsdl:message name="FECompUltimoAutorizadoSoapOut">
<wsdl:part name="parameters" element="tns:FECompUltimoAutorizadoResponse"/>
</wsdl:message>
<wsdl:message name="FECompConsultarSoapIn">
<wsdl:part name="parameters" element="tns:FECompConsultar"/>
</wsdl:message>
<wsdl:message name="FECompConsultarSoapOut">
<wsdl:part name="parameters" element="tns:FECompConsultarResponse"/>
</wsdl:message>
<wsdl:message name="FECAEARegInformativoSoapIn">
<wsdl:part name="parameters" element="tns:FECAEARegInformativo"/>
</wsdl:message>
<wsdl:message name="FECAEARegInformativoSoapOut">
<wsdl:part name="parameters" element="tns:FECAEARegInformativoResponse"/>
</wsdl:message>
<wsdl:message name="FECAEASolicitarSoapIn">
<wsdl:part name="parameters" element="tns:FECAEASolicitar"/>
</wsdl:message>
<wsdl:message name="FECAEASolicitarSoapOut">
<wsdl:part name="parameters" element="tns:FECAEASolicitarResponse"/>
</wsdl:message>
<wsdl:message name="FECAEASinMovimientoConsultarSoapIn">
<wsdl:part name="parameters" element="tns:FECAEASinMovimientoConsultar"/>
</wsdl:message>
<wsdl:message name="FECAEASinMovimientoConsultarSoapOut">
<wsdl:part name="parameters" element="tns:FECAEASinMovimientoConsultarResponse"/>
</wsdl:message>
<wsdl:message name="FECAEASinMovimientoInformarSoapIn">
<wsdl:part name="parameters" element="tns:FECAEASinMovimientoInformar"/>
</wsdl:message>
<wsdl:message name="FECAEASinMovimientoInformarSoapOut">
<wsdl:part name="parameters" element="tns:FECAEASinMovimientoInformarResponse"/>
</wsdl:message>
<wsdl:message name="FECAEAConsultarSoapIn">
<wsdl:part name="parameters" element="tns:FECAEAConsultar"/>
</wsdl:message>
<wsdl:message name="FECAEAConsultarSoapOut">
<wsdl:part name="parameters" element="tns:FECAEAConsultarResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetCotizacionSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetCotizacion"/>
</wsdl:message>
<wsdl:message name="FEParamGetCotizacionSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetCotizacionResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposTributosSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposTributos"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposTributosSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposTributosResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposMonedasSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposMonedas"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposMonedasSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposMonedasResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposIvaSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposIva"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposIvaSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposIvaResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposOpcionalSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposOpcional"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposOpcionalSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposOpcionalResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposConceptoSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposConcepto"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposConceptoSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposConceptoResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetPtosVentaSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetPtosVenta"/>
</wsdl:message>
<wsdl:message name="FEParamGetPtosVentaSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetPtosVentaResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposCbteSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposCbte"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposCbteSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposCbteResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposDocSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposDoc"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposDocSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposDocResponse"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposPaisesSoapIn">
<wsdl:part name="parameters" element="tns:FEParamGetTiposPaises"/>
</wsdl:message>
<wsdl:message name="FEParamGetTiposPaisesSoapOut">
<wsdl:part name="parameters" element="tns:FEParamGetTiposPaisesResponse"/>
</wsdl:message>
<wsdl:portType name="ServiceSoap">
<wsdl:operation name="FECAESolicitar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Solicitud de Código de Autorización Electrónico (CAE)</wsdl:documentation>
<wsdl:input message="tns:FECAESolicitarSoapIn"/>
<wsdl:output message="tns:FECAESolicitarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECompTotXRequest">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la cantidad maxima de registros que puede tener una invocacion al metodo FECAESolicitar / FECAEARegInformativo </wsdl:documentation>
<wsdl:input message="tns:FECompTotXRequestSoapIn"/>
<wsdl:output message="tns:FECompTotXRequestSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEDummy">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo dummy para verificacion de funcionamiento</wsdl:documentation>
<wsdl:input message="tns:FEDummySoapIn"/>
<wsdl:output message="tns:FEDummySoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECompUltimoAutorizado">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el ultimo comprobante autorizado para el tipo de comprobante / cuit / punto de venta ingresado / Tipo de Emisión</wsdl:documentation>
<wsdl:input message="tns:FECompUltimoAutorizadoSoapIn"/>
<wsdl:output message="tns:FECompUltimoAutorizadoSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECompConsultar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Comprobante emitido y su código.</wsdl:documentation>
<wsdl:input message="tns:FECompConsultarSoapIn"/>
<wsdl:output message="tns:FECompConsultarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECAEARegInformativo">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rendición de comprobantes asociados a un CAEA.</wsdl:documentation>
<wsdl:input message="tns:FECAEARegInformativoSoapIn"/>
<wsdl:output message="tns:FECAEARegInformativoSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECAEASolicitar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Solicitud de Código de Autorización Electrónico Anticipado (CAEA)</wsdl:documentation>
<wsdl:input message="tns:FECAEASolicitarSoapIn"/>
<wsdl:output message="tns:FECAEASolicitarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoConsultar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CAEA informado como sin movimientos.</wsdl:documentation>
<wsdl:input message="tns:FECAEASinMovimientoConsultarSoapIn"/>
<wsdl:output message="tns:FECAEASinMovimientoConsultarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoInformar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informa CAEA sin movimientos.</wsdl:documentation>
<wsdl:input message="tns:FECAEASinMovimientoInformarSoapIn"/>
<wsdl:output message="tns:FECAEASinMovimientoInformarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FECAEAConsultar">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar CAEA emitidos.</wsdl:documentation>
<wsdl:input message="tns:FECAEAConsultarSoapIn"/>
<wsdl:output message="tns:FECAEAConsultarSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetCotizacion">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera la cotizacion de la moneda consultada y su fecha </wsdl:documentation>
<wsdl:input message="tns:FEParamGetCotizacionSoapIn"/>
<wsdl:output message="tns:FEParamGetCotizacionSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposTributos">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de los diferente tributos que pueden ser utilizados en el servicio de autorizacion</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposTributosSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposTributosSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposMonedas">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de monedas utilizables en servicio de autorización</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposMonedasSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposMonedasSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposIva">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de Tipos de Iva utilizables en servicio de autorización.</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposIvaSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposIvaSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposOpcional">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de identificadores para los campos Opcionales</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposOpcionalSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposOpcionalSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposConcepto">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de identificadores para el campo Concepto.</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposConceptoSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposConceptoSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetPtosVenta">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de puntos de venta registrados y su estado</wsdl:documentation>
<wsdl:input message="tns:FEParamGetPtosVentaSoapIn"/>
<wsdl:output message="tns:FEParamGetPtosVentaSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposCbte">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de Tipos de Comprobantes utilizables en servicio de autorización.</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposCbteSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposCbteSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposDoc">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de Tipos de Documentos utilizables en servicio de autorización.</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposDocSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposDocSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposPaises">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera el listado de los diferente paises que pueden ser utilizados en el servicio de autorizacion</wsdl:documentation>
<wsdl:input message="tns:FEParamGetTiposPaisesSoapIn"/>
<wsdl:output message="tns:FEParamGetTiposPaisesSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="FECAESolicitar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAESolicitar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompTotXRequest">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompTotXRequest"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEDummy">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEDummy"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompUltimoAutorizado">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompUltimoAutorizado"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompConsultar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompConsultar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEARegInformativo">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEARegInformativo"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASolicitar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASolicitar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoConsultar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASinMovimientoConsultar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoInformar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASinMovimientoInformar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEAConsultar">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEAConsultar"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetCotizacion">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetCotizacion"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposTributos">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposTributos"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposMonedas">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposMonedas"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposIva">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposIva"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposOpcional">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposOpcional"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposConcepto">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposConcepto"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetPtosVenta">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetPtosVenta"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposCbte">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposCbte"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposDoc">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposDoc"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposPaises">
<soap:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposPaises"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="FECAESolicitar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAESolicitar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompTotXRequest">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompTotXRequest"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEDummy">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEDummy"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompUltimoAutorizado">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompUltimoAutorizado"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECompConsultar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECompConsultar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEARegInformativo">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEARegInformativo"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASolicitar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASolicitar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoConsultar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASinMovimientoConsultar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEASinMovimientoInformar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEASinMovimientoInformar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FECAEAConsultar">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FECAEAConsultar"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetCotizacion">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetCotizacion"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposTributos">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposTributos"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposMonedas">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposMonedas"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposIva">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposIva"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposOpcional">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposOpcional"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposConcepto">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposConcepto"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetPtosVenta">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetPtosVenta"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposCbte">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposCbte"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposDoc">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposDoc"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FEParamGetTiposPaises">
<soap12:operation style="document" soapAction="http://ar.gov.afip.dif.FEV1/FEParamGetTiposPaises"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service orientado al servicio de Facturacion electronica RG2485 V1</wsdl:documentation>
<wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
<soap:address location="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
</wsdl:port>
<wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
<soap12:address location="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>